@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



body {
background-color: #dcdcdc; 
   
    margin: 0 0 0 0;
    font-family: 'Rubik', sans-serif;
}
 

div{

    min-height: 10px;
    padding: 15px;
    
}


.About-body{
    
    text-align: center;
    max-width: inherit;
    
}



.nav {
display: grid; grid-template-columns: 200px auto; margin-left: auto;
margin-right: auto;
max-width: 1950px;
}


.links {
     margin-top: 15px;
     font-size: 1.290rem;
     text-align: center;
     color: #c92122;
}

.links img{
    
    
    padding: inherit;
    
}

.links a {
     color: black;
     padding-left: 10px;
     padding-right: 10px;
     text-decoration: none;
}
.banner-3 {
    background-color: #dcdcdc; 
    padding: 20px 0; 
    text-align: center;
}


.banner-3 img {
    
    max-width: 2070px;
    
    width: 100%;
} 

.banner-4 {
    background-color: #dcdcdc; 
    padding: 20px 0; 
    text-align: center;
}


.banner-4 img {
    
    max-width: 2070px;
    
    width: 100%;
}

.banner {
    background-color: #dcdcdc; 
    padding: 20px 0; 
    text-align: center;
}


.banner img {
    
    max-width: 2070px;
    
    width: 100%;
} 


.banner-2 {
    background-color: #dcdcdc; 
    padding: 20px 0; 
    text-align: center;
}


.banner-2 img {
    
    max-width: 2070px;
    
    width: 100%;
} 


.Our-Services {
    background-color: #dcdcdc;
    color: #000000;
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

.Our-Services .description {
    grid-column: span 2;
}


.block img {
    width: 18%;
    float: left;
}



.footer {
    background-color: #dcdcdc;
    color: #c92122;
    
    
}

.footer img{
    
    padding: inherit;
    
}

ul {
    
    list-style-type: none;
}


#msg {
    
    margin-top: 18px
}


.footer .container {
    
    display: grid; grid-template-columns: 150px auto; margin-left: auto;
    margin-right: auto;

}




@media screen and (max-width: 550px)
